:root {
    --bg-clr:#413C69;
    --bg-acc:#4A47A3;
    --txt-clr:#EAB9C9;
    --txt-acc:#AD62AA;
    --font-normal:'Inconsolata',monospace
}

html {
    scroll-behavior:smooth;
    background-color:var(--bg-clr);
    color:var(--txt-clr);
    font:3.8vh/1vh var(--font-normal);
    line-height:3em
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-y:hidden
}

main::-webkit-scrollbar {
    display:none
}

main {
    position:relative;
    top:0;
    left:0;
    width:100%;
    display:flex;
    max-height:100vh;
    scroll-snap-type:x mandatory
}

main section {
    display:block;
    position:relative;
    min-width:100vw;
    height:100vh;
    object-fit:cover;
    display:flex;
    justify-content:space-evenly;
    align-items:center
}

main section .block :nth-child(1n) {
    object-fit:cover;
    height:100vh;
    width:auto
}

#identifyUrself {
    display:flex;
    align-items:center
}

input {
    height:5vw;
    width:20vw;
    margin:2vw;
    padding:1vw;
    color:var(--bg-clr);
    font:3.5vw/1vh var(--font-normal);
    background-color:#eab9c9;
    border:none
}

input::selection {
    background-color:#ad62aa
}

section {
    scroll-snap-align:start
}

.imgFrame {
    text-align:left;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center
}

#section10 {
    display:flex;
    flex-direction:row;
    align-items:center
}

#greeting-content {
    max-width:50vw
}

.block {
    box-shadow:0 0 20em var(--txt-clr)
}

h3 {
    align-items:center;
    padding-bottom:2rem
}

button {
    display:inline-block;
    align-self:center;
    height:3em;
    width:3em;
    transform:rotate(90deg);
    border:none
}

#happy:focus {
    background-color:#9ceb52
}

#happy:hover {
    border-radius:100px;
    transition:transform 1s;
    transform:rotate(810deg)
}

#sad:focus {
    background-color:rgba(79,90,233,.87)
}

#sad:hover {
    border-radius:100px;
    transition:transform 1s;
    transform:rotate(-270deg)
}

#compliment {
    margin-right:-35vw;
    padding-left: 5vw;
    padding-bottom: 15em;
    z-index:1;
    color:var(--txt-clr);
    text-shadow: .3em .3em var(--bg-acc); 
}